* {
  box-sizing: border-box;
}

:root {
  --font-heading: "Sen", sans-serif;
  --primary-color: #ffb900;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}

/* Common */
a {
  text-decoration: none;
}

.main-content {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
  max-width: calc(100% - 48px);
}

.btn {
  display: block;
  border-radius: 999px;
  background: #171100;
  color: #fff;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  min-width: 118px;
  padding: 0 16px;
  line-height: 50px;
}

.btn:hover {
  opacity: 0.8;
}

.heading {
  color: #171100;
  font-family: var(--font-heading);
  font-weight: 700;
}

.heading.lv1 {
  font-size: 5.8rem;
  line-height: 1.17;
  letter-spacing: -1.16px;
}

.heading.lv2 {
  font-size: 3.8rem;
  line-height: 1.26;
  letter-spacing: -0.76px;
}

.desc {
  color: #5f5b53;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.66;
}

button {
  border: none;
  background: transparent;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}

/* ========== Header ========== */
.header {
  padding: 36px 0 8px;
  background: #fffcf4;
  z-index: 1;
}

.header.fixed {
  position: sticky;
  top: -28px;
}

.header .body {
  display: flex;
  align-items: center;
}

.nav {
  margin-left: auto;
}

.nav ul {
  display: flex;
}

.nav a {
  position: relative;
  color: #5f5b53;
  font-size: 1.6rem;
  font-weight: 400;
  padding: 8px 21px;
}

.nav a:hover,
.nav li.active a {
  color: #171100;
  text-shadow: 1px 0 0 currentColor;
}

.nav li.active a::after {
  display: block;
  position: absolute;
  left: 21px;
  bottom: 6px;
  content: "";
  width: 12px;
  height: 2px;
  border-radius: 1px;
  background: #171100;
}

.header .action {
  margin-left: 49px;
}

.btn-signup {
  min-width: 144px;
}

/* ========== Hero ========== */
.hero {
  padding: 56px 0 65px;
  background: #fffcf4;
}

.hero .body {
  display: flex;
}

.hero .media-block {
  position: relative;
  width: 48%;
}

.hero .media-block .img {
  width: 470px;
  height: 685px;
  border-radius: 20px;
  object-fit: cover;
}

.hero-summary {
  position: absolute;
  right: 0;
  bottom: 48px;
  width: 270px;
  padding: 24px;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
}

.hero-summary .item {
  display: flex;
  align-items: center;
}

.hero-summary .item:nth-child(2) .icon {
  background: #fcefff;
}

.hero-summary .item:nth-child(3) .icon {
  background: #ebeaff;
}

.hero-summary .item+.item {
  margin-top: 14px;
}

.hero-summary .icon {
  width: 48px;
  height: 48px;
  background: #fff9e8;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-summary .info {
  margin-left: 16px;
}

.hero-summary .label {
  color: #5f5b53;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.85;
}

.hero-summary .title {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.6;
}

.hero .content-block {
  width: 52%;
  padding: 64px 0 0 130px;
}

.hero .desc {
  margin-top: 22px;
}

.hero .cta-group {
  display: flex;
  margin: 38px 0 48px 0;
}

.hero-cta {
  background: var(--primary-color);
  color: #fff;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.66;
  min-width: 180px;
  line-height: 64px;
}

.hero .watch-video {
  margin-left: 28px;
  border: none;
  background: transparent;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.hero .watch-video .icon {
  width: 40px;
  height: 40px;
  background: #ffffff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero .watch-video span {
  margin-left: 14px;
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.66;
}

.hero .stats {
  margin: 8px 0 0 -28px;
}

.hero .stats strong {
  color: #171100;
  font-family: var(--font-heading);
  font-size: 4.4rem;
  font-weight: 700;
  line-height: 1.22;
  padding: 0 8px 0 28px;
}

/* ========== Popular ========== */
.popular {
  padding: 200px 0;
}

.popular .popular-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popular-top .desc {
  margin-top: 16px;
  width: 458px;
}

.popular-top .controls {
  display: flex;
  gap: 18px;
}

.popular-top .control-btn {
  width: 40px;
  height: 40px;
  color: var(--primary-color);
  border-radius: 50%;
  border: 1px solid var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popular-top .control-btn:hover {
  background: var(--primary-color);
  color: #fff;
  cursor: pointer;
}

.popular .course-list {
  margin-top: 55px;
  display: flex;
  gap: 30px;
}

.popular .course-item {
  flex: 1;
  border-radius: 12px;
  border: 1px solid #e2dfda;
  background: #fff;
}

.popular .course-item:hover {
  box-shadow: 0px 18px 36px 0px rgba(0, 0, 0, 0.05);
  border-color: transparent;
}

.popular .course-item .thumb {
  width: calc(100% + 2px);
  height: 278px;
  margin: -1px;
  object-fit: cover;
  border-radius: 12px 12px 0px 0px;
}

.popular .info {
  padding: 16px 22px 22px;
}

.popular .head,
.popular .foot {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popular .head .title a {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.66;
}

.popular .head .rating {
  display: flex;
  align-items: center;
}

.popular .head .value {
  margin-left: 6px;
}

.popular .info .desc {
  margin-top: 6px;
  font-size: 1.4rem;
  line-height: 1.85;
}

.popular .info .foot {
  margin-top: 12px;
}

.popular .foot .price {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.66;
}

.popular .foot .book-btn {
  color: #fff;
  font-size: 1.4rem;
  font-weight: 600;
}

.popular .foot .book-btn:hover {
  background: var(--primary-color);
}

/* ========== Feedback ========== */
.feedback {
  background: #2e2100;
  padding: 96px 0;
}

.feedback-item {
  display: flex;
  justify-content: space-between;
}

.feedback-item .info .avatar {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  object-fit: cover;
}

.feedback-item .info .title {
  margin-top: 18px;
  color: #f7f7f7;
  font-family: var(--font-heading);
  font-size: 2.4rem;
  font-weight: 700;
}

.feedback-item .info .desc {
  margin-top: 4px;
  color: #bfbcb2;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.85;
}

.feedback-item .dots {
  display: flex;
  margin-top: 28px;
}

.feedback-item .dot {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #634700;
  margin-right: 6px;
  cursor: pointer;
}

.feedback-item .dot.active {
  background: var(--primary-color);
  cursor: default;
}

.feedback-item .content {
  width: 66%;
}

.feedback-item blockquote {
  color: #fff;
  font-size: 2.6rem;
  font-style: italic;
  font-weight: 400;
  line-height: 1.53;
  margin-left: 30px;
}

/* ========== Features ========== */
.features {
  margin-top: 135px;
  padding: 65px 0;
}

.features .body {
  display: flex;
  justify-content: space-between;
}

.features .images {
  display: flex;
  gap: 0 30px;
}

.features .images img {
  width: 270px;
  height: 404px;
  border-radius: 16px;
  object-fit: cover;
}

.features .images .lower {
  margin-top: 34px;
}

.features .content {
  width: 41%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.features .desc {
  font-size: 1.6rem;
  line-height: 1.75;
  margin-top: 16px;
  width: 458px;
}

.features .content .cta-btn {
  margin-top: 32px;
  background: var(--primary-color);
  min-width: 137px;
}

.features-2nd {
  margin-top: 70px;
}

.features-2nd .body {
  flex-direction: row-reverse;
}

.features-2nd .content {
  width: 49%;
}

.features-2nd .images .img {
  width: 470px;
  height: 440px;
  border-radius: 20px;
}

/* ========== Blog ========== */
.blog {
  margin-top: 135px;
  padding: 96px 0;
  background: #fffcf4;
}

.blog .blog-top {
  text-align: center;
}

.blog .blog-top .desc {
  margin: 16px auto 0;
  width: 448px;
}

.blog .blog-list {
  display: flex;
  margin-top: 55px;
  gap: 0 30px;
}

.blog .blog-list .item {
  width: 33.33%;
  border-radius: 16px;
  background: #fff;
}

.blog .blog-list .item:hover {
  box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
}

.blog .item .thumb {
  width: 100%;
  height: 250px;
  border-radius: 16px 16px 0px 0px;
  object-fit: cover;
}

.blog .item .info {
  padding: 20px 20px 28px;
}

.blog .item .date {
  position: relative;
  display: inline-flex;
  align-items: center;
  color: #5f5b53;
  font-size: 1.4rem;
  line-height: 1.85;
  padding-bottom: 12px;
}

.blog .item .date::before {
  display: inline-block;
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: var(--primary-color);
  margin-right: 4px;
}

.blog .item .date::after {
  position: absolute;
  bottom: 0;
  content: "";
  width: calc(100% + 37px);
  height: 1px;
  border-radius: 0.5px;
  background: #e2dfda;
}

.blog .item .title {
  margin-top: 12px;
}

.blog .item .title a {
  color: #171100;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.75;
}

.blog .item .btn {
  display: inline-block;
  margin-top: 12px;
  font-size: 1.4rem;
}

.blog .item .btn:hover {
  background: var(--primary-color);
}

.blog .dots {
  display: flex;
  justify-content: center;
  gap: 6px;
  margin-top: 38px;
}

.blog .dot {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #5F5B53;
  cursor: pointer;
}

.blog .dot.active {
  background: var(--primary-color);
  cursor: default;
}

/* ========== footer ========== */
.footer {
  background: #2E2100;
  padding: 96px 0 28px;
}

.footer .row {
  display: flex;
  border-bottom: 1px solid #59554B;
  padding-bottom: 38px;
}

.footer .column {
  width: 21.5%;
}

.footer .column:first-child {
  width: 35%;
}

.footer .desc {
  margin-top: 18px;
  color: #BFBCB2;
  font-size: 1.4rem;
  line-height: 1.85;
  max-width: 267px;
}

.footer .socials {
  display: flex;
  gap: 18px;
  margin-top: 18px;
}

.footer .title {
  display: inline-block;
  color: #FFF;
  font-weight: 600;
  line-height: 1.75;
  border-bottom: 1px solid #59554B;
  padding: 0 48px 14px 0;
}

.footer .list a {
  display: inline-block;
  color: #BFBCB2;
  font-size: 1.4rem;
  line-height: 1.85;
  margin-top: 12px;
}

.footer .list li:first-child a {
  margin-top: 18px;
}

.footer .list strong {
  color: #FFF;
  font-weight: 600;
}

.footer .copyright {
  color: #807D74;
  text-align: center;
  font-size: 1.4rem;
  line-height: 1.85;
  margin-top: 28px;
}